#its-wrapper {
  color: #111; }

.color-income {
  color: #21a08f; }

.color-payments {
  color: #e54d42; }

.color-savings {
  color: #f1aa2a; }

.color-remaining {
  color: #2d7eb6; }

.clearfix:after, fieldset:after, .col-container:after, #results:after {
  content: "";
  display: table;
  clear: both; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background: #2A2A32; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: Calibri,Arial,helvetica,sans-serif;
  font-size: 1.15em;
  color: #fff; }

header {
  background: #1C1D22;
  padding: 0.65em;
  border-bottom: 1px solid #333540;
  border-top: 1px solid #333540;
  font-family: georgia, Equity-Text-B,serif; }

h1 {
  margin: 0;
  color: #fff;
  font-size: 1.35em;
  font-weight: 100;
  letter-spacing: 1.35px; }

h2 {
  margin: 0;
  font-weight: 400; }

h3 {
  font-size: 1.15em;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0.65em; }

hr {
  margin: 2em 0;
  border-color: #333540; }

.navigation-container {
  padding: 1%; }
  @media screen and (min-width: 600px) {
    .navigation-container {
      float: left;
      width: 25%;
      max-width: 320px; } }
  @media screen and (min-width: 1400px) {
    .navigation-container {
      position: fixed; } }

fieldset {
  border: none;
  margin: 0.585em 0 0 0;
  padding: 0.585em 0 0 0;
  border-top: 1px solid #333540; }
  fieldset:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0; }

.full-label {
  width: 100%;
  float: none; }

.radio-options {
  width: 100%;
  margin-top: 10px; }
  .radio-options label, .radio-options input {
    float: none;
    width: auto; }

input {
  display: block;
  padding: 0.25em;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1.15em;
  text-align: center;
  width: 100%;
  background: #333540;
  border: none;
  color: #fff; }

input[type="range"] {
  width: 75%;
  float: left;
  margin: 0;
  margin-top: 0; }

input[type="button"], .button {
  font-size: 1em;
  border: 1px solid #efefef;
  cursor: pointer; }

#savings-range-value {
  width: 25%;
  text-align: center; }

.container {
  padding: 0.65% 0.5% 0.5% 0; }
  @media screen and (min-width: 600px) {
    .container {
      width: 75%;
      float: right; } }

@media screen and (min-width: 600px) {
  .control-container {
    float: right; } }

#results ol {
  padding: 0;
  margin: 0;
  list-style: none; }
#results li {
  padding: 0.65em;
  color: #3d3d3d;
  margin: 0; }
#results li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.45); }
#results li:nth-child(even) {
  background: rgba(255, 255, 255, 0.55); }
#results strong {
  float: right; }

.pays-per-year {
  margin-left: 0; }

input[type="radio"] {
  display: inline;
  width: 15px;
  margin-right: 5px; }
  input[type="radio"]:last-child {
    margin-left: 0; }

input[type="radio"]:first-child {
  margin-left: 0; }

#results div {
  background: #999; }
  @media screen and (max-width: 1000px) {
    #results div {
      width: 49%;
      margin-left: 2%;
      margin-top: 2%;
      float: left; }
      #results div:first-child {
        margin-left: 0; }
      #results div:nth-child(2n + 1) {
        margin-left: 0; }
      #results div:nth-child(1) {
        margin-top: 0; }
      #results div:nth-child(2) {
        margin-top: 0; } }
  @media screen and (min-width: 1000px) {
    #results div {
      width: 24.25%;
      margin-left: 1%;
      margin-top: 1%;
      float: left; }
      #results div:first-child {
        margin-left: 0; }
      #results div:nth-child(4n + 1) {
        margin-left: 0; }
      #results div:nth-child(1) {
        margin-top: 0; }
      #results div:nth-child(2) {
        margin-top: 0; }
      #results div:nth-child(3) {
        margin-top: 0; }
      #results div:nth-child(4) {
        margin-top: 0; } }
  #results div:nth-child(1) {
    background: #21a08f;
    border-bottom: 5px solid #21a08f; }
  #results div:nth-child(2) {
    background: #e54d42;
    border-bottom: 5px solid #e54d42; }
  #results div:nth-child(3) {
    background: #f1aa2a;
    border-bottom: 5px solid #f1aa2a; }
  #results div:nth-child(4) {
    background: #2d7eb6;
    border-bottom: 5px solid #2d7eb6; }

form div {
  width: auto;
  float: none; }

#savings-graph {
  margin-top: 2%; }

#container {
  height: 400px; }

.col-2 {
  margin-bottom: 5%; }
  @media screen and (min-width: 600px) {
    .col-2 {
      width: 48.5%;
      margin-left: 3%;
      margin-top: 3%;
      float: left;
      margin-bottom: 0; }
      .col-2:first-child {
        margin-left: 0; }
      .col-2:nth-child(2n + 1) {
        margin-left: 0; }
      .col-2:nth-child(1) {
        margin-top: 0; }
      .col-2:nth-child(2) {
        margin-top: 0; } }

#questions-container button {
  display: inline-block; }
#questions-container p {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #333540; }
#questions-container button {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 1em; }
  #questions-container button:hover {
    background: #e54d42; }

#stats h2 {
  text-align: center; }
#stats ul {
  padding: 0.5em 0.85em;
  margin: 0;
  list-style: none; }
#stats li {
  margin: 0.5em 0; }
#stats span {
  font-size: 1.5em;
  font-weight: 600; }

.graph-container {
  padding-top: 1.75em; }

#savings-investments-overtime-graph {
  margin: 2% 0; }

/*# sourceMappingURL=style.css.map */
