#its-wrapper {
  color: #111; }

.color-income {
  color: #21a08f; }

.color-payments {
  color: #e54d42; }

.color-savings {
  color: #f1aa2a; }

.color-remaining {
  color: #2d7eb6; }

.clearfix:after, fieldset:after, .col-container:after, #results:after {
  content: "";
  display: table;
  clear: both; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background: #222; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: Equity-Text-B, arial, helvetica, serif;
  font-size: 0.875em;
  color: #fff; }

header {
  background: #444;
  padding: 1em;
  border-bottom: 2px solid #cecece; }

h1 {
  margin: 0;
  color: #fff;
  font-size: 1em; }

h2 {
  margin: 0; }

h3 {
  font-size: 1.15em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.03);
  color: #fff;
  margin: 0;
  padding: 1em; }

hr {
  margin: 3em 0; }

.navigation-container {
  padding: 1%;
  float: left;
  width: 20%; }

fieldset {
  border: none;
  margin: 1.25em 0 0 0;
  padding: 1.25em 0 0 0;
  border-top: 1px solid #eee; }
  fieldset:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0; }

label {
  float: left;
  width: 55%; }

.full-label {
  width: 100%;
  float: none; }

.radio-options {
  width: 100%;
  margin-top: 10px; }
  .radio-options label, .radio-options input {
    float: none;
    width: auto; }

input {
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  float: right;
  width: 42%; }

input[type="button"] {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #eee; }

.container {
  width: 80%;
  float: right;
  padding: 0.5% 0.5% 0.5% 0; }

#results ol {
  padding: 0;
  margin: 0;
  list-style: none; }
#results li {
  font-size: 1.1em;
  padding: 1em;
  color: #3d3d3d;
  margin: 0; }
#results li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.45); }
#results li:nth-child(even) {
  background: rgba(255, 255, 255, 0.55); }
#results strong {
  float: right; }

.pays-per-year {
  margin-left: 0; }

input[type="radio"] {
  display: inline;
  width: 15px;
  margin-right: 5px; }
  input[type="radio"]:last-child {
    margin-left: 0; }

input[type="radio"]:first-child {
  margin-left: 0; }

#results div {
  background: #999; }
  @media screen and (max-width: 840px) {
    #results div {
      width: 49%;
      margin-left: 2%;
      margin-top: 2%;
      float: left; }
      #results div:first-child {
        margin-left: 0; }
      #results div:nth-child(2n + 1) {
        margin-left: 0; }
      #results div:nth-child(1) {
        margin-top: 0; }
      #results div:nth-child(2) {
        margin-top: 0; } }
  @media screen and (min-width: 840px) {
    #results div {
      width: 24.25%;
      margin-left: 1%;
      margin-top: 1%;
      float: left; }
      #results div:first-child {
        margin-left: 0; }
      #results div:nth-child(4n + 1) {
        margin-left: 0; }
      #results div:nth-child(1) {
        margin-top: 0; }
      #results div:nth-child(2) {
        margin-top: 0; }
      #results div:nth-child(3) {
        margin-top: 0; }
      #results div:nth-child(4) {
        margin-top: 0; } }
  #results div:nth-child(1) {
    background: #21a08f;
    border-bottom: 5px solid #21a08f; }
  #results div:nth-child(2) {
    background: #e54d42;
    border-bottom: 5px solid #e54d42; }
  #results div:nth-child(3) {
    background: #f1aa2a;
    border-bottom: 5px solid #f1aa2a; }
  #results div:nth-child(4) {
    background: #2d7eb6;
    border-bottom: 5px solid #2d7eb6; }

form div {
  width: auto;
  float: none; }

#savings-graph {
  margin-top: 2%; }

#container {
  height: 400px; }

.col-2 {
  margin-bottom: 5%; }
  @media screen and (min-width: 840px) {
    .col-2 {
      width: 48.5%;
      margin-left: 3%;
      margin-top: 3%;
      float: left;
      margin-bottom: 0; }
      .col-2:first-child {
        margin-left: 0; }
      .col-2:nth-child(2n + 1) {
        margin-left: 0; }
      .col-2:nth-child(1) {
        margin-top: 0; }
      .col-2:nth-child(2) {
        margin-top: 0; } }

#questions-container button {
  display: inline-block; }
#questions-container p {
  margin: 0.5em 0; }
#questions-container button {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 1em; }
  #questions-container button:hover {
    background: #e54d42; }

#stats h2 {
  text-align: center; }
#stats ul {
  padding: 1em 2em;
  margin: 0;
  list-style: none;
  font-size: 1.25em;
  border-top: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(0, 0, 0, 0.15); }
#stats li {
  margin: 0.5em 0; }
#stats span {
  font-size: 1.5em;
  font-weight: 600; }

.graph-container {
  border: 1px solid #fff;
  padding-top: 1.75em; }

/*# sourceMappingURL=style.css.map */
