.clearfix:after, #results:after {
  content: "";
  display: table;
  clear: both; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background: #222; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0 auto;
  font-family: Equity-Text-B, arial, helvetica, serif;
  font-size: 0.875em;
  color: #3d3d3d; }

header {
  background: #444;
  padding: 1em;
  border-bottom: 2px solid #cecece; }

h1 {
  margin: 0;
  color: #fff;
  font-size: 1em; }

h3 {
  font-size: 1.15em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.03);
  color: #fff;
  margin: 0;
  padding: 1em; }

form {
  color: #fff;
  padding: 1%;
  width: 25%;
  margin-bottom: 1em;
  float: left; }

fieldset {
  border: none;
  margin: 1.25em 0 0 0;
  padding: 1.25em 0 0 0;
  border-top: 1px solid #eee; }
  fieldset:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0; }

input {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 10px;
  box-sizing: border-box; }

input[type="button"] {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #eee; }

ol {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  font-size: 1.1em;
  padding: 1em;
  margin: 0; }

li:nth-child(odd) {
  background: rgba(255, 255, 255, 0.45); }

li:nth-child(even) {
  background: rgba(255, 255, 255, 0.55); }

strong {
  float: right; }

.pays-per-year {
  margin-left: 0;
  margin-top: 10px; }

input[type="radio"] {
  display: inline;
  width: 15px;
  margin-right: 5px; }
  input[type="radio"]:last-child {
    margin-left: 0; }

input[type="radio"]:first-child {
  margin-left: 0; }

#results {
  width: 75%;
  padding: 0.5% 0.5% 0.5% 0;
  float: right; }
  #results div {
    background: #999; }
    @media screen and (max-width: 840px) {
      #results div {
        width: 49%;
        margin-left: 2%;
        margin-top: 2%;
        float: left; }
        #results div:first-child {
          margin-left: 0; }
        #results div:nth-child(2n + 1) {
          margin-left: 0; }
        #results div:nth-child(1) {
          margin-top: 0; }
        #results div:nth-child(2) {
          margin-top: 0; } }
    @media screen and (min-width: 840px) {
      #results div {
        width: 24.25%;
        margin-left: 1%;
        margin-top: 1%;
        float: left; }
        #results div:first-child {
          margin-left: 0; }
        #results div:nth-child(4n + 1) {
          margin-left: 0; }
        #results div:nth-child(1) {
          margin-top: 0; }
        #results div:nth-child(2) {
          margin-top: 0; }
        #results div:nth-child(3) {
          margin-top: 0; }
        #results div:nth-child(4) {
          margin-top: 0; } }
    #results div:nth-child(1) {
      background: #21a08f;
      border-bottom: 5px solid #21a08f; }
    #results div:nth-child(2) {
      background: #e54d42;
      border-bottom: 5px solid #e54d42; }
    #results div:nth-child(3) {
      background: #f1aa2a;
      border-bottom: 5px solid #f1aa2a; }
    #results div:nth-child(4) {
      background: #2d7eb6;
      border-bottom: 5px solid #2d7eb6; }

form div {
  width: auto;
  float: none; }

#savings-graph {
  width: 75%;
  padding: 0.5% 0.5% 0.5% 0;
  float: right; }

#container {
  height: 400px; }

/*# sourceMappingURL=style.css.map */
