#its-wrapper{
  color:#111;
}

// -- Variables -- //
$breakpoint-medium: 600px;
$breakpoint-large: 1000px;

$color-income : rgb(33, 160, 143);
$color-payments : rgb(229, 77, 66);
$color-savings : rgb(241, 170, 42);
$color-remaining : rgb(45, 126, 182);

.color-income{
  color: $color-income;
}
.color-payments{
  color: $color-payments;
}
.color-savings{
  color: $color-savings;
}
.color-remaining{
  color: $color-remaining;
}



// -- Clearfix -- //
// @extend .clearfix
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



// -- Equal Spaced Columns -- //
// Number of Columns - First Column
// Remaining Number of Columns * Margin Spacing
// Container Width - Total Margin Spacing
// Remaining Width / Total Number of Columns

@mixin equalSpaced( $num_of_cols, $spacing, $container_width  ){
  
  width: ( $container_width - ( $spacing * ($num_of_cols - 1) ) ) / $num_of_cols;
  margin-left: $spacing;
  margin-top: $spacing;
  float: left;
  
  // Remove Spacing from First Child
  &:first-child{
    margin-left: 0;
  }
  
  
  // We can remove These two things to simply things
  // ===============================================
  // When there's more than one row of columns
  
  // Remove margin-left of the first element in the row.
  &:nth-child( #{$num_of_cols}n + 1){
    margin-left: 0;
  }
  
  // Top Row Remove Margin Top
  @for $i from 1 through $num_of_cols {
      &:nth-child(#{$i}) {
          margin-top: 0;
      }
  }

  
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background:#2A2A32;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body{
  margin:0 auto;
  font-family:Calibri,Arial,helvetica,sans-serif;
  font-size:1.15em;
  color:#fff;
}

header{
  background:#1C1D22;
  padding: 0.65em;
  border-bottom:1px solid #333540;
  border-top:1px solid #333540;
  font-family: georgia, Equity-Text-B,serif;
}
h1{
  margin: 0;
  color:#fff;
  font-size: 1.35em;
  font-weight: 100;
  letter-spacing: 1.35px
}
h2{
  margin: 0;
  font-weight: 400;
}
h3{ 
  font-size:1.15em;
  font-weight:600;
  color:#fff;
  margin:0;
  padding:0.65em;
}
hr{
  margin: 2em 0;
  border-color: #333540;
}

.navigation-container{
  padding:1%;
  @media screen and (min-width: $breakpoint-medium){
    float: left;
    width: 25%;
  }
  @media screen and (min-width: 1400px){
    position:fixed;
  }
}
form{

}
fieldset{
  @extend .clearfix;
  border:none;
  margin:0.585em 0 0 0;
  padding:0.585em 0 0 0;
  border-top:1px solid #333540;
  &:first-child{
    margin-top: 0;
    border-top: none;
    padding-top:0;
  }
}
label{
  @media screen and (min-width: $breakpoint-medium){
    float: left;
    width: 60%;
  }
}
.full-label{
  width: 100%;
  float: none;
}
.radio-options{
  width:100%;
  margin-top: 10px;
  label, input{
    float: none;
    width: auto;
  }
}
input{
  display:block;
  padding:0.25em;
  box-sizing:border-box;
  margin-top: 10px;
  font-size: 1.15em;
  text-align: center;
  width: 100%;
  background: #333540;
  border: none;
  color: #fff;
  @media screen and (min-width: $breakpoint-medium){
    margin-top: 0;
    float: right;
    width: 35%;
  }
}
input[type="button"], .button{
  font-size: 1em;
  border:1px solid #efefef;
  cursor: pointer;
}



.container{
  padding: 0.65% 0.5% 0.5% 0;

  @media screen and (min-width: $breakpoint-medium){
    width: 75%;
    float: right;
  }
}

.col-container{
  @extend .clearfix;
}

#results{
  ol{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li{
    padding:0.65em;
    color:#3d3d3d;
    margin:0; 
  }
  li:nth-child(odd){ background:rgba(255,255,255,0.45); }
  li:nth-child(even){ background:rgba(255,255,255,0.55); }
  strong{float:right;}
}

.pays-per-year{
  margin-left:0;
}
input[type="radio"]{
  display:inline;
  width:15px;
  margin-right:5px;
  &:last-child{ margin-left:0; }
}

input[type="radio"]:first-child{
  margin-left:0;
}

$colors: #21a08f, #e54d42, #f1aa2a, #2d7eb6;
$n : 4;
#results{
  @extend .clearfix;
  div{ 
    @media screen and (max-width: $breakpoint-large){
      @include equalSpaced(2, 2%, 100%);
    }
    @media screen and (min-width: $breakpoint-large){
      @include equalSpaced(4, 1%, 100%);
    }
    background:#999; 
    @for $i from 1 through $n {
      &:nth-child(#{$i}) {
        background: nth($colors, $i%7+0);
        border-bottom: 5px solid nth($colors, $i%7+0);
      }
    }
  }
}
form div{ width: auto; float:none; }

#savings-graph{
  margin-top:2%;
}


#container{
  height: 400px;
}


.col-2{
  margin-bottom:5%;
  @media screen and (min-width: $breakpoint-medium){
    @include equalSpaced(2, 3%, 100%);
    margin-bottom: 0;
  }
}


#questions-container{
  button{ display: inline-block; }
  p{
    margin: 0.5em 0;
    padding-bottom:0.5em;
    border-bottom:1px dotted #333540;
  }
  button{
    border:1px solid #fff;
    background: none;
    color:#fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 1em;
    &:hover{
      background: #e54d42;
    }
  }
}

#stats{
  h2{
    text-align: center;
  }
  ul{
    padding: 0.5em 0.85em;
    margin: 0;
    list-style: none;
  }
  li{
    margin: 0.5em 0;
  }
  span{
    font-size:1.5em;
    font-weight: 600;
  }
}

.graph-container{
  padding-top: 1.75em;
}

#savings-investments-overtime-graph{
  margin:2% 0;
}